Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends: .docker_build
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - export IMAGE_TAG=$BASE_SHA

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base:
  extends: .build_base
  only:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano
      - merge_requests@meltano/meltano
    changes:
      - docker/base/Dockerfile
      - requirements.txt

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base_forks:
  extends: .build_base
  only:
    - branches
    - tags
    - merge_requests
  except:
    - branches@meltano/meltanos
    - tags@meltano/meltano
    - merge_requests@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Resolve "Add `max_workers` setting to `tap-salesforce` discoverable plugin definition"
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Add missing comma
  docs/src/docs/orchestration.md
Due: docs

Add `target_` prefix to discoverable loader `namespace`s for consistency
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/plugins.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/project_add_custom_service.py
  tests/meltano/core/test_elt_context.py
Due: docs

Add "Prerequisites" and "Next steps" sections to Bing Ads extractor doc
  docs/src/plugins/extractors/bing-ads.md
Due: docs

Highlight all lines related to config
  docs/src/docs/project.md
Due: docs

Constrain Airflow installation to specific set of known-to-work requirements to prevent it from breaking unexpectedly
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Add "Minimal configuration" section to Bing Ads doc
  docs/src/plugins/extractors/bing-ads.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Rename Extractors and Loaders pages to Sources and Destinations
  docs/src/.vuepress/config.js
  docs/src/plugins/extractors/README.md
  docs/src/plugins/loaders/README.md
Due: docs

WIP: Add `transferwise` variant of `target-bigquery`
  src/meltano/core/bundle/discovery.yml
Due: docs

Add transferwise and datamill-co variants of target-snowflake
  CHANGELOG.md
  docs/src/plugins/loaders/snowflake--meltano.md
  docs/src/plugins/loaders/snowflake--transferwise.md
  docs/src/plugins/loaders/snowflake.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Bump version: 1.54.0 → 1.55.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

List Python 3.8 as supported in docs
  .gitlab/ci/sample_code.gitlab-ci.yml
  CHANGELOG.md
  docs/src/README.md
  docs/src/docs/getting-started.md
  docs/src/docs/installation.md
Due: docs

Run sample_code CI jobs on Python 3.6, 3.7, and 3.8
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Resolve "Add `target-bigquery` loader"
  CHANGELOG.md
  docs/src/plugins/loaders/README.md
  docs/src/plugins/loaders/bigquery.md
  src/meltano/api/static/logos/bigquery-logo.png
  src/meltano/core/bundle/discovery.yml
  src/webapp/public/static/logos/bigquery-logo.png
Due: docs

Don't run meltano_dev job on forks
  .gitlab/ci/docker_prod.gitlab-ci.yml
Due: none

Add .parallel:python CI helper
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Build Docker images based on Python 3.6, 3.7, and 3.8
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
  docker/base/Dockerfile
Due: meltano_base

Run test CI jobs on Python 3.6, 3.7, and 3.8
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Run demo_project CI jobs on Python 3.6 only
  .gitlab/ci/demo_project.gitlab-ci.yml
Due: none

Push Python version-specific Docker images to DockerHub
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/publish.gitlab-ci.yml
Due: none

Document Python version-specific Docker images
  docs/src/docs/getting-started.md
  docs/src/docs/installation.md
Due: docs

Fix changelog formatting
  CHANGELOG.md
Due: none

Bump version: 1.55.0 → 1.56.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix broken link to target-bigquery repo
  docs/src/plugins/loaders/bigquery.md
Due: docs

Stop automatically building image for DigitalOcean Marketplace
  .gitlab-ci.yml
  .gitlab/ci/distribute.gitlab-ci.yml
  cloud/packer/marketplace-image.json
Due: none

Resolve "Add `singer-io` variant of `tap-recharge`"
  CHANGELOG.md
  docs/src/plugins/extractors/README.md
  docs/src/plugins/extractors/recharge.md
  src/meltano/api/static/logos/recharge-logo.png
  src/meltano/core/bundle/discovery.yml
  src/webapp/public/static/logos/recharge-logo.png
Due: docs

Make it clear that postgresql URL segments in doc are placeholders
  docs/src/docs/production.md
  docs/src/docs/settings.md
Due: docs

List missing env aliases in `target-snowflake` `meltano` variant doc
  docs/src/plugins/loaders/snowflake--meltano.md
Due: docs

Fix env aliases for target-postgres user and host settings
  src/meltano/core/bundle/discovery.yml
Due: docs

Update PostgreSQL doc formatting
  docs/src/plugins/loaders/postgres.md
  docs/src/tutorials/gitlab-and-postgres.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Loaders load into _a_, not _the_, database/warehouse
  docs/src/plugins/loaders/bigquery.md
  docs/src/plugins/loaders/postgres.md
  docs/src/plugins/loaders/snowflake--meltano.md
  docs/src/plugins/loaders/snowflake--transferwise.md
  docs/src/plugins/loaders/snowflake.md
Due: docs

Update SQLite doc formatting
  docs/src/plugins/loaders/sqlite.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Update target-csv doc formatting
  docs/src/plugins/loaders/README.md
  docs/src/plugins/loaders/csv.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Fix 'seperator' typos to 'separator'
  docs/src/docs/command-line-interface.md
  src/meltano/core/project_add_custom_service.py
Due: docs

Update target-jsonl doc formatting
  docs/src/plugins/loaders/jsonl.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Give example of start_date format
  docs/src/plugins/extractors/bing-ads.md
  docs/src/plugins/extractors/recharge.md
Due: docs

Update tap-gitlab doc formatting
  docs/src/plugins/extractors/gitlab.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Update tap-csv doc formatting
  docs/src/plugins/extractors/csv.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Empathize learning, not information
  docs/src/plugins/extractors/bing-ads.md
  docs/src/plugins/extractors/csv.md
  docs/src/plugins/extractors/gitlab.md
  docs/src/plugins/extractors/recharge.md
  docs/src/plugins/loaders/bigquery.md
  docs/src/plugins/loaders/csv.md
  docs/src/plugins/loaders/jsonl.md
  docs/src/plugins/loaders/postgres.md
  docs/src/plugins/loaders/snowflake--meltano.md
  docs/src/plugins/loaders/snowflake--transferwise.md
  docs/src/plugins/loaders/snowflake.md
  docs/src/plugins/loaders/sqlite.md
Due: docs

Update tap-facebook doc formatting
  docs/src/plugins/extractors/facebook.md
  src/meltano/core/bundle/discovery.yml
Due: docs
