Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends: .docker_build
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - export IMAGE_TAG=$BASE_SHA

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base:
  extends: .build_base
  only:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano
      - merge_requests@meltano/meltano
    changes:
      - docker/base/Dockerfile
      - requirements.txt

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base_forks:
  extends: .build_base
  only:
    - branches
    - tags
    - merge_requests
  except:
    - branches@meltano/meltanos
    - tags@meltano/meltano
    - merge_requests@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

update addl. files, implement requested changes
  .gitlab/ci/sample_code.gitlab-ci.yml
  docs/src/README.md
  docs/src/docs/getting-started.md
  docs/src/docs/installation.md
  docs/src/docs/installation_to_venv.md
Due: docs

revert whitespace change
  docs/src/README.md
Due: docs

whitespace (2)
  docs/src/README.md
Due: docs

update link to anchor
  docs/src/docs/installation.md
Due: docs

remove extra venv activation
  docs/src/README.md
Due: docs

Let Canonical fall back on other object for unknown and specified known attributes
  src/meltano/core/behavior/canonical.py
  tests/meltano/core/behavior/test_canonical.py
Due: none

Inline only use of in ProjectPlugin.add_select_filter in SelectService.select
  src/meltano/core/plugin/base.py
  src/meltano/core/select_service.py
Due: none

Inline only use of in ProjectPlugin.qualified_name in PluginSettingsService._db_namespace
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/settings_service.py
Due: none

Extract find_related_plugin_refs out of ProjectAddService into PluginDiscoveryService
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project_add_service.py
Due: none

Rename PluginInvoker.config_service to plugin_config_service to prevent confusion with ConfigService
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin_invoker.py
Due: none

Directly construct ProjectPlugin instead of going through PluginDefinition.in_project
  src/meltano/core/plugin/base.py
  src/meltano/core/project_add_custom_service.py
  src/meltano/core/project_add_service.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Add ProjectPlugin.config_with_extras property composed of .config and .extras
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

Move env var expansion from SettingsStore to SettingsService
  src/meltano/cli/config.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_settings_store.py
Due: none

Move Canonical inheritance from PluginDefinition and ProjectPlugin to common ancestor PluginRef
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/meltano_file.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/project_init_service.py
Due: none

Move ProjectPlugin to its own file
  src/meltano/api/controllers/plugins.py
  src/meltano/core/config_service.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin/dashboard.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin/factory.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin/model/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_add_custom_service.py
  src/meltano/core/project_add_service.py
  src/meltano/core/transform_add_service.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Add BasePlugin to represent PluginDefinition+Variant combination
  src/meltano/core/plugin/base.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

Move plugin type-specific behavior to subclasses of PluginBase instead of ProjectPlugin
  src/meltano/cli/utils.py
  src/meltano/core/meltano_file.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/dashboard.py
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/plugin/factory.py
  src/meltano/core/plugin/file.py
  src/meltano/core/plugin/model/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin/singer/target.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_add_service.py
  tests/meltano/core/runner/test_runner.py
Due: none

Let ProjectPlugin inherit attributes from a BasePlugin parent
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin_discovery_service.py
  tests/meltano/cli/test_add.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

No longer return custom plugin definitions from DiscoveryService
  src/meltano/core/plugin_discovery_service.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Add methods to find/get BasePlugins to PluginDiscoveryService
  src/meltano/core/plugin_discovery_service.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Extract plugin bits from ConfigService into ProjectPluginsService
  src/meltano/core/config_service.py
  src/meltano/core/project_plugins_service.py
  src/meltano/core/upgrade_service.py
  tests/meltano/core/plugin/singer/test_catalog.py
  tests/meltano/core/test_config_service.py
  tests/meltano/core/test_project_plugins_service.py
Due: none

Find ProjectPlugin and its BasePlugin parent using ProjectPluginsService instead of ConfigService and PluginDiscoveryService
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/api/controllers/sql_helper.py
  src/meltano/api/events/notification_events.py
  src/meltano/cli/add.py
  src/meltano/cli/config.py
  src/meltano/cli/elt.py
  src/meltano/cli/install.py
  src/meltano/cli/invoke.py
  src/meltano/cli/repl.py
  src/meltano/cli/select.py
  src/meltano/cli/ui.py
  src/meltano/cli/utils.py
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_install_service.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/project_add_service.py
  src/meltano/core/project_settings_service.py
  src/meltano/core/schedule_service.py
  src/meltano/core/select_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/transform_add_service.py
  tests/fixtures/core.py
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/api/controllers/test_sql_helper.py
  tests/meltano/api/test_security.py
  tests/meltano/cli/test_add.py
  tests/meltano/cli/test_config.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_install.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_connection_service.py
  tests/meltano/core/test_elt_context.py
  tests/meltano/core/test_plugin_discovery_service.py
Due: none

Define plugin env var prefixes at ProjectPlugin level
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/plugin/test_plugin.py
Due: none

Build custom setting definitions at ProjectPlugin and PluginBase level
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/project_plugin.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/settings_service.py
  tests/meltano/core/plugin/test_plugin.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Add PluginBase.executable method
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin_invoker.py
Due: none

Fix meltano/meltano Docker image entrypoint
  CHANGELOG.md
  docker/prod/Dockerfile
Due: none

Bump version: 1.60.0 → 1.60.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix base Docker image entrypoint
  docker/base/Dockerfile
Due: meltano_base

Verify that built Docker image can be run with --version
  .gitlab/ci/scripts/docker_build_script.sh
Due: none

Add missing tap-salesforce `is_sandbox` setting
  CHANGELOG.md
  docs/src/plugins/extractors/salesforce.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Show unsupported array and object settings as such in configuration UI
  CHANGELOG.md
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

Unhide tap-bigquery, tap-csv and tap-spreadsheets-anywhere in UI
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Move tap-bigquery changelog item to unreleased since it wasn't announced yet and is now in the UI
  CHANGELOG.md
Due: none

Pass along schedule.env when running scheduled pipeline from UI
  CHANGELOG.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/events/notification_events.py
  src/meltano/api/executor/__init__.py
  src/meltano/api/signals.py
  src/webapp/src/store/modules/orchestration.js
Due: none

Add `meltano schedule run <name>` command to run scheduled pipeline by name
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  src/meltano/api/executor/__init__.py
  src/meltano/cli/schedule.py
  src/meltano/core/schedule_service.py
  tests/meltano/core/test_schedule_service.py
Due: docs

Bump version: 1.60.1 → 1.61.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Give target-bigquery `dataset_id` same default behavior as target-snowflake and target-postgres `schema`
  CHANGELOG.md
  docs/src/plugins/loaders/bigquery.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Fix order of imports in `src/meltano/core/schedule_service.py`
  src/meltano/core/schedule_service.py
Due: none

Adding docs to contributor guide and fixing pre-commit configs
  .pre-commit-config.yaml
  docs/src/docs/contributor-guide.md
  package.json
  pyproject.toml
  src/meltano/core/schedule_service.py
Due: docs
