Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends: .docker_build
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - export IMAGE_TAG=$BASE_SHA

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base:
  extends: .build_base
  only:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano
      - merge_requests@meltano/meltano
    changes:
      - docker/base/Dockerfile
      - requirements.txt

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base_forks:
  extends: .build_base
  only:
    - branches
    - tags
    - merge_requests
  except:
    - branches@meltano/meltanos
    - tags@meltano/meltano
    - merge_requests@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Document exactly what's in a Meltano project
  docs/src/docs/project.md
Due: docs

Link to new Projects concept doc sections
  docs/src/docs/command-line-interface.md
  docs/src/docs/configuration.md
  docs/src/docs/contributor-guide.md
  docs/src/docs/getting-started.md
  docs/src/docs/integration.md
  docs/src/docs/plugin-management.md
  docs/src/docs/plugins.md
  docs/src/docs/production.md
  docs/src/docs/project.md
  docs/src/docs/settings.md
  docs/src/tutorials/create-a-custom-extractor.md
Due: docs

Let extractor `schema` property be used to add, not just override, stream properties
  CHANGELOG.md
  docs/src/docs/plugins.md
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_catalog.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: docs

Add `upcase_string` setting `value_processor`
  CHANGELOG.md
  docs/src/docs/contributor-guide.md
  src/meltano/core/setting_definition.py
Due: docs

Use upcase_string value_processor on target-snowflake schema setting
  CHANGELOG.md
  docs/src/plugins/loaders/snowflake.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin_discovery_service.py
  tests/meltano/core/test_connection_service.py
Due: docs

Don't fail when TAP_COVID_19_API_TOKEN is unset on a fork
  .gitlab/ci/sample_code.gitlab-ci.yml
Due: none

Add repo URLs to all plugins in discovery.yml
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin/base.py
Due: docs

Print docs and repo URLs when adding a new plugin
  CHANGELOG.md
  src/meltano/cli/add.py
  src/meltano/cli/utils.py
Due: none

Change `target-csv` to use `singer-io/target-csv` instead of the Meltano fork
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Change `require_authentication` in APIBlueprint to be a kwarg. Add tests to ensure that embed API endpoint can be accessed both when authenticated and when unauthenticated
  CHANGELOG.md
  src/meltano/api/api_blueprint.py
  src/meltano/api/controllers/embeds.py
  tests/meltano/api/test_security.py
Due: none

Add tap-bing-ads to discovery.yml
  CHANGELOG.md
  docs/src/plugins/extractors/README.md
  docs/src/plugins/extractors/bing-ads.md
  src/meltano/api/static/logos/bing-ads-logo.png
  src/meltano/core/bundle/discovery.yml
  src/webapp/public/static/logos/bing-ads-logo.png
Due: docs

Bump version: 1.46.0 → 1.47.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Remove outdated warning from new Bing Ads doc
  docs/src/plugins/extractors/bing-ads.md
Due: docs

Print full error message when extractor catalog discovery fails
  CHANGELOG.md
  docs/src/docs/getting-started.md
  src/meltano/cli/select.py
  src/meltano/core/behavior/hookable.py
  src/meltano/core/plugin/singer/tap.py
Due: docs

Move dry_run and full_refresh to ELTContext
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
  tests/meltano/core/runner/test_runner.py
Due: none

Move singer.SingerPayload to job.Payload
  src/meltano/core/job/__init__.py
  src/meltano/core/job/job.py
  src/meltano/core/runner/singer.py
  tests/meltano/core/runner/test_runner.py
Due: none

Don't slugify job ID when determining job logs directory
  CHANGELOG.md
  src/meltano/core/project.py
Due: none

Include extractor and loader name in autogenerated `meltano elt` job ID
  CHANGELOG.md
  src/meltano/cli/elt.py
Due: none

Move ELT logs from `.meltano/run` to `.meltano/logs`
  CHANGELOG.md
  docs/src/docs/architecture.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/production.md
  docs/src/docs/project.md
  src/meltano/core/logging/job_logging_service.py
  src/meltano/core/project.py
Due: docs

Store pipeline-specific generated plugin config files under `.meltano/run/elt/<job_id>/<run_id>` instead of `.meltano/run/<plugin_name>`
  CHANGELOG.md
  docs/src/docs/project.md
  src/meltano/core/elt_context.py
Due: docs

Print clear error message when invoker cannot find executable
  CHANGELOG.md
  src/meltano/cli/invoke.py
  src/meltano/core/behavior/hookable.py
  src/meltano/core/plugin/singer/tap.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
Due: none

Make `tap-csv` `files` a known setting
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Upgrade python-dotenv to the latest version to fix quoting
  requirements.txt
  setup.py
Due: meltano_base

Store valid JSON in .env for array and object settings
  CHANGELOG.md
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Correctly determine `kind` of custom array and object settings
  CHANGELOG.md
  src/meltano/core/setting_definition.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Clean up generated config files after a plugin is invoked
  CHANGELOG.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/cli/invoke.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin_invoker.py
  src/meltano/core/runner/dbt.py
  src/meltano/core/runner/singer.py
  src/meltano/core/select_service.py
  tests/meltano/cli/test_elt.py
  tests/meltano/cli/test_invoke.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/singer/test_target.py
  tests/meltano/core/plugin/test_airflow.py
  tests/meltano/core/runner/test_runner.py
  tests/meltano/core/test_elt_context.py
Due: none

List plugin extras in alphabetical order
  docs/src/docs/configuration.md
  docs/src/docs/plugins.md
Due: docs

Add `select_filter` extractor extra to allow extracting a subset of selected entities
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/configuration.md
  docs/src/docs/integration.md
  docs/src/docs/plugins.md
  src/meltano/core/plugin/singer/catalog.py
  src/meltano/core/plugin/singer/tap.py
  tests/meltano/core/plugin/singer/test_tap.py
Due: docs

Add `--select` and `--exclude` options to `meltano elt` to allow extracting a subset of selected entities
  CHANGELOG.md
  docs/src/docs/command-line-interface.md
  docs/src/docs/plugins.md
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  tests/meltano/core/test_elt_context.py
Due: docs

Mark stored job state as incomplete if full_refresh and select_filter are used
  src/meltano/core/job/job.py
  src/meltano/core/runner/singer.py
  tests/meltano/core/runner/test_runner.py
Due: none

Merge recent incomplete job state into most recent complete state
  src/meltano/core/job/finder.py
  src/meltano/core/runner/singer.py
  src/meltano/core/utils/__init__.py
  tests/meltano/core/runner/test_runner.py
Due: none

Pretty print generated catalog JSON for easier debugging
  src/meltano/core/plugin/singer/tap.py
Due: none

Bump version: 1.47.0 → 1.48.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add 'Docker Compose' section to Containerization guide
  docs/src/docs/containerization.md
  docs/src/docs/production.md
Due: docs

Fix string interpolation in SqlHelper error messages
  src/meltano/api/controllers/sql_helper.py
Due: none

Remove broken ConfigService.find_plugin_by_namespace
  src/meltano/core/config_service.py
Due: none

Don't unnecessarily load regular (non-extra) settings in `meltano config <plugin> list --extras`
  src/meltano/cli/config.py
Due: none

Replace setting_env util with to_env_var
  src/meltano/core/project_add_custom_service.py
  src/meltano/core/settings_service.py
  src/meltano/core/utils/__init__.py
Due: none

Reuse source manager when finding values of nested keys of object setting
  src/meltano/core/settings_service.py
Due: none

Handle SettingDefinition.env and .env_aliases consistently
  src/meltano/cli/config.py
  src/meltano/core/setting_definition.py
  src/meltano/core/settings_service.py
  src/meltano/core/settings_store.py
Due: none
