Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - export IMAGE_TAG=$BASE_SHA

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

added test and chenged if-elif to if only
  CHANGELOG.md
  src/meltano/core/setting_definition.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Run the harmless parts of the docs job on feature branches
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Increase verbosity of ssh and tar commands
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Restore commands to deploy built docs files
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Unconditionally run docs job
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Add missing settings to tap-mongodb
  CHANGELOG.md
  docs/src/plugins/extractors/mongodb.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Fix UI logic to enforce plugin settings_group_validation
  CHANGELOG.md
  src/webapp/src/store/modules/orchestration.js
Due: none

Move incorrectly placed changelog item to Unreleased
  CHANGELOG.md
Due: none

Let user disable autoscrolling in UI job log modal
  CHANGELOG.md
  src/webapp/src/components/pipelines/LogModal.vue
Due: none

Move new changelog item to Unreleased section
  CHANGELOG.md
Due: none

Stop unconditionally setting Secure flag on session cookies
  CHANGELOG.md
  src/meltano/api/app.py
  src/meltano/api/config.py
Due: none

Add ui.session_cookie_secure setting to let Secure flag be enabled on session cookies
  CHANGELOG.md
  docs/src/docs/production.md
  docs/src/docs/settings.md
  src/meltano/api/config.py
  src/meltano/core/bundle/settings.yml
Due: docs

Bump version: 1.57.0 → 1.58.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Mention session cookie Secure flag change under Changes in changelog
  CHANGELOG.md
Due: none

Fix kind of `tap-facebook` `insights_buffer_days` setting
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Remove undocumented plugin configuration profile functionality
  CHANGELOG.md
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/config_service.py
  src/meltano/core/plugin/base.py
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/plugin_discovery_service.py
  src/webapp/src/api/orchestrations.js
  src/webapp/src/components/analyze/ExploreButton.vue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
  src/webapp/src/components/pipelines/ConnectorSettingsDropdown.vue
  src/webapp/src/components/pipelines/PluginSettingsModal.vue
  src/webapp/src/store/modules/orchestration.js
  src/webapp/src/store/modules/plugins.js
  tests/meltano/api/controllers/test_orchestration.py
  tests/meltano/core/plugin/test_plugin_settings.py
  tests/meltano/core/test_elt_context.py
Due: none

Add pipx-based install instructions
  docs/src/docs/installation.md
  docs/src/docs/installation_to_venv.md
Due: docs

consolidate pip and pipx sections
  docs/src/docs/installation.md
Due: docs

updated installation guide
  docs/src/docs/installation.md
  docs/src/docs/installation_to_venv.md
Due: docs

sorted the list of streams and properties
  CHANGELOG.md
  src/meltano/cli/select.py
Due: none

No longer raise CliError from output_logger - raise it in cli/elt.py instead (fixes circular import)
  CHANGELOG.md
  src/meltano/cli/__init__.py
  src/meltano/cli/elt.py
  src/meltano/cli/utils.py
Due: none

added missing mysql-logo.png
  CHANGELOG.md
  src/meltano/api/static/logos/mysql-logo.png
  src/webapp/public/static/logos/mysql-logo.png
Due: none

Bump version: 1.58.0 → 1.59.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Stop defining plugin settings as `kind: hidden` to fix casting of env var and meltano.yml values
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Hide settings of kind `object` and `array` in UI
  CHANGELOG.md
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

Link to recent talk from Mission section in docs.
  docs/src/docs/README.md
Due: docs

Set `kind`s for tap-postgres `max_run_seconds`, `logical_poll_total_seconds`, and `break_at_end_lsn` settings
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Stop requiring specific version of `cryptography`
  CHANGELOG.md
  requirements.txt
  setup.py
Due: meltano_base

Adding Poetry for better dependency and build management
  .bumpversion.cfg
  .dockerignore
  .gitignore
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/publish.gitlab-ci.yml
  .gitlab/ci/sample_code.gitlab-ci.yml
  .gitlab/ci/scripts/docker_build_before_script.sh
  .gitlab/ci/test.gitlab-ci.yml
  CHANGELOG.md
  MANIFEST.in
  Makefile
  VERSION
  docker/base/Dockerfile
  docker/docs/Dockerfile
  docker/prod/Dockerfile
  docs/src/docs/contributor-guide.md
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.py
Due: meltano_base, docs

Run changelog and bumpversion CLIs using poetry
  Makefile
  docs/src/docs/contributor-guide.md
  docs/src/handbook/engineering/README.md
Due: docs

Bump version: 1.59.0 → 1.60.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/package.json
  package.json
  pyproject.toml
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Give `poetry publish` access to package built in previously stage
  .gitlab/ci/publish.gitlab-ci.yml
Due: none

Fix typo in target-postgres doc
  docs/src/plugins/loaders/postgres.md
Due: docs

Make tap bigquery known to meltano
  CHANGELOG.md
  docs/src/plugins/extractors/README.md
  docs/src/plugins/extractors/bigquery.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Let Canonical.update take kwargs so that attrs can look like __init__ args
  src/meltano/core/behavior/canonical.py
  tests/meltano/core/behavior/test_canonical.py
  tests/meltano/core/test_meltano_file.py
Due: none

Store Canonical values in dedicated dict instead of __dict__
  src/meltano/core/behavior/canonical.py
  src/meltano/core/plugin/base.py
  tests/meltano/core/plugin/singer/test_tap.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Add Canonical.with_attrs to create copy with changes
  src/meltano/core/behavior/canonical.py
  tests/meltano/core/behavior/test_canonical.py
Due: none

Deepcopying a Canonical is no longer supported
  src/meltano/core/plugin/settings_service.py
Due: none

Let default values be specified on Canonical
  src/meltano/core/behavior/canonical.py
  tests/meltano/core/behavior/test_canonical.py
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, requirements.txt
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
