Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends: .docker_build
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - export IMAGE_TAG=$BASE_SHA

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base:
  extends: .build_base
  only:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano
      - merge_requests@meltano/meltano
    changes:
      - docker/base/Dockerfile
      - requirements.txt

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base_forks:
  extends: .build_base
  only:
    - branches
    - tags
    - merge_requests
  except:
    - branches@meltano/meltanos
    - tags@meltano/meltano
    - merge_requests@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

Add section on Meltano projects to homepage
  docs/src/.vuepress/theme/views/Home.vue
  docs/src/README.md
Due: docs

We're actually building Meltano, not just trying
  docs/src/README.md
Due: docs

Add encouragement to top of example code
  docs/src/README.md
Due: docs

Add homepage_sample_code CI job
  .gitlab-ci.yml
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Add new directory
  meltanoso/.gitkeep
Due: none

Fix pip3 install argument
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Reorder commands to fix relative path
  docs/src/README.md
Due: docs

Reorder commands to fix relative path
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Don't use password authentication with postgres service
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Install psql
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Always say yes to apt-get
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Use printf rather than echo to ensure newlines are printed
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

changing src/webapp/src/router/app.js
  src/webapp/src/router/app.js
Due: none

Improve descriptions and default values of `meltano add --custom` prompts
  CHANGELOG.md
  docs/src/README.md
  docs/src/tutorials/create-a-custom-extractor.md
  docs/src/tutorials/postgres-with-postgres.md
  src/meltano/core/project_add_custom_service.py
Due: docs

Bump version: 1.32.1 → 1.33.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

bumped psycopg2 version
  requirements.txt
Due: meltano_base

Add meltano_dev_forks CI job to ensure MRs from forks create a Docker image
  .gitlab/ci/docker_base.gitlab-ci.yml
  .gitlab/ci/docker_prod.gitlab-ci.yml
Due: none

bumped psycopg2 to 2.8.5
  setup.py
Due: none

Add demo_project CI job
  .gitlab-ci.yml
  .gitlab/ci/demo_project.gitlab-ci.yml
Due: none

Rename PluginType.cli_command to more descriptive .singular
  src/meltano/cli/add.py
  src/meltano/core/plugin/base.py
  src/meltano/core/project_add_custom_service.py
  tests/meltano/cli/test_add.py
Due: none

Fix key of a setting's default value
  docs/src/README.md
Due: docs

Add `env` properties to custom plugin `settings` in `meltano.yml`
  CHANGELOG.md
  src/meltano/core/project_add_custom_service.py
Due: none

Add env_var reducer to flatten util and add setting_env util
  src/meltano/core/plugin/settings_service.py
  src/meltano/core/utils/__init__.py
Due: none

Refactor PluginSettingsService.get_value
  src/meltano/core/plugin/settings_service.py
Due: none

Allow PluginSettingsService env to be overridden
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Move setting value redaction to get_value function
  src/meltano/core/plugin/settings_service.py
Due: none

Instantiate PluginInstall only through Plugin.as_installed
  src/meltano/core/plugin/base.py
  src/meltano/core/project_add_custom_service.py
Due: none

Infer compatibility between extractor and transform based on namespace rather than name
  CHANGELOG.md
  src/meltano/cli/elt.py
Due: none

Have `meltano config <plugin>` print default value along with setting name and env var
  CHANGELOG.md
  src/meltano/cli/config.py
Due: none

Add find_plugin_by_namespace method to ConfigService and PluginDiscoveryService
  src/meltano/core/config_service.py
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/schedule_service.py
Due: none

Handle env var expansion in PluginSettingsService rather than PluginConfigService
  src/meltano/core/plugin/config_service.py
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin_config_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Allow PluginSettingsService config to be overridden
  src/meltano/api/controllers/orchestrations.py
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Pass config enviroment variables when invoking plugins
  CHANGELOG.md
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin_invoker.py
Due: none

Set `MELTANO_EXTRACTOR_NAME`, `MELTANO_EXTRACTOR_NAMESPACE`, and `MELTANO_EXTRACT_{SETTING...}` environment variables when invoking loader
  CHANGELOG.md
  src/meltano/core/elt_context.py
Due: none

Set `target-postgres` and `target-snowflake` schema based on `MELTANO_EXTRACTOR_NAMESPACE` env var
  CHANGELOG.md
  docs/src/README.md
  docs/src/plugins/loaders/postgres.md
  docs/src/plugins/loaders/snowflake.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin_discovery_service.py
  src/meltano/core/project_add_custom_service.py
Due: docs

Don't pass environment variables with "None" values to plugins if variables were unset
  CHANGELOG.md
  src/meltano/core/elt_context.py
  src/meltano/core/plugin/settings_service.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Set `dbt` project dir based on `DBT_PROJECT_DIR` env var, defaulting to `$MELTANO_PROJECT_ROOT/transform`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/plugin/dbt/base.py
  src/meltano/core/transform_add_service.py
Due: docs

Add transformer to ELTContext
  src/meltano/api/controllers/reports_helper.py
  src/meltano/api/controllers/sql.py
  src/meltano/api/controllers/sql_helper.py
  src/meltano/cli/elt.py
  src/meltano/core/elt_context.py
  tests/fixtures/core.py
  tests/meltano/api/controllers/test_sql_helper.py
  tests/meltano/cli/test_elt.py
Due: none

Don't allow PluginInvoker plugin_config to be overridden directly
  src/meltano/core/plugin_invoker.py
Due: none

Set `dbt` profiles dir based on `DBT_PROFILES_DIR` env var, defaulting to `$MELTANO_PROJECT_ROOT/transform/profile`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs
