Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

.gitlab/ci/docker_base.gitlab-ci.yml:

.build_base:
  extends: .docker_build
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
    - source .gitlab/ci/scripts/docker_build_before_script.sh
    - export IMAGE_TAG=$BASE_SHA

# the meltano base should only be rebuild when the `requirements.txt` file
# has a change, and should be inferable from the `BASE_SHA` environment
# variable

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base:
  extends: .build_base
  only:
    refs:
      - branches@meltano/meltano
      - tags@meltano/meltano
      - merge_requests@meltano/meltano
    changes:
      - docker/base/Dockerfile
      - requirements.txt

# Manages:
#  - meltano/meltano/base:<base_sha>
meltano_base_forks:
  extends: .build_base
  only:
    - branches
    - tags
    - merge_requests
  except:
    - branches@meltano/meltanos
    - tags@meltano/meltano
    - merge_requests@meltano/meltano

.gitlab/ci/docs.gitlab-ci.yml:

docs:
  extends: .only:master
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
      - docs/node_modules/
  before_script:
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - chmod 600 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - cd docs
    - yarn
    - yarn build:docs
    - $REMOTE_EXEC "mkdir -p $SSH_BACKUP_DIRECTORY; tar zcvf $SSH_BACKUP_DIRECTORY-$(date +%Y-%m-%dT%H:%M).tar.gz $SSH_DIRECTORY/$SSH_WWW_DIRECTORY"
    - $REMOTE_EXEC "cd $SSH_DIRECTORY && find ./$SSH_WWW_DIRECTORY -mindepth 1 -maxdepth 1 -not -name blog -not -name '.' -exec rm -rf  '{}' \;"
    - scp -o stricthostkeychecking=no -P$SSH_PORT -r public/. $SSH_USER_DOMAIN:$SSH_DIRECTORY/$SSH_WWW_DIRECTORY
  only:
    changes:
      - docs/**/*
      - src/meltano/core/bundle/discovery.yml

improve the documentation
  docs/src/docs/environment-variables.md
Due: docs

fix the logo rendering
  .gitignore
  src/meltano/api/static/favicon.ico
  src/meltano/api/static/logos/facebook-logo.png
  src/meltano/api/static/logos/meltano-logo.png
  src/meltano/oauth/app.py
  src/meltano/oauth/static
  src/meltano/oauth/templates/home.html
Due: none

add documentation around the Meltano OAuth Service
  docs/src/docs/environment-variables.md
  src/meltano/api/app.py
  src/meltano/api/config.py
  src/webapp/src/components/pipelines/ConnectorSettings.vue
  src/webapp/src/utils/flask.js
  src/webapp/vue.config.js
Due: docs

fix the ProxyFix breaking the app
  src/meltano/oauth/app.py
Due: none

add the token template
  src/meltano/api/app.py
  src/meltano/api/config.py
  src/meltano/oauth/app.py
  src/meltano/oauth/providers.py
  src/meltano/oauth/templates/token.html
Due: none

minor typo fix
  docs/src/plugins/extractors/facebook.md
Due: docs

fix a bug with the scopes not being properly set
  src/meltano/oauth/providers.py
Due: none

add changelog
  CHANGELOG.md
Due: none

remove dead code
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

Move handbook from about.gitlab.com to meltano.com
  .gitlab/issue_templates/release.md
  docs/src/.vuepress/config.js
  docs/src/docs/roadmap.md
  docs/src/handbook/README.md
  docs/src/handbook/engineering/README.md
  docs/src/handbook/marketing/README.md
  docs/src/handbook/product/README.md
Due: docs

ensure discovery response leverages freeze_keys to flag it as 'ignore conversion' during server response to FE
  src/meltano/api/controllers/plugins.py
Due: none

Use human-readable update interval labels
  CHANGELOG.md
  src/webapp/src/components/pipelines/PipelineSchedules.vue
Due: none

initial freeze_keys for only the value key of a setting as we still want the other keys to get converted automatically (ugly nested solution and will likely learn a better pythonic way in review)
  CHANGELOG.md
  src/meltano/api/controllers/plugins.py
Due: none

apply feedback to follow existing code path of pipeline run after a configuration save
  src/webapp/src/components/pipelines/ExtractorSettingsModal.vue
Due: none

feature (#1475): use singular label to indicate only one value accepted
  src/meltano/core/bundle/discovery.yml
Due: docs

docs (#1475): update changelog
  CHANGELOG.md
Due: none

feature (#1475): add default select value
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

feature (#1475): auto-populate settings field when it already exists
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

feature (#1475): allow user to choose either project or group
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

fix (#1475): issue with save config due to unknown key
  src/webapp/src/components/pipelines/ExtractorSettingsModal.vue
Due: none

docs (#1475): remove references to multiple groups and projects
  docs/src/plugins/extractors/gitlab.md
Due: docs

fix (#1475): resolve loading existing config issue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

style (#1475): alpha order computed properties
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

style: alpha order properties
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

fix the hidden fields being sent/set to the front-end
  src/meltano/api/controllers/orchestrations.py
  src/meltano/api/controllers/plugins.py
  src/meltano/core/plugin/settings_service.py
  tests/fixtures/core.py
  tests/meltano/api/controllers/test_orchestration.py
Due: none

update the changelog
  CHANGELOG.md
Due: none

remove the dupplicate check for `kind==hidden`
  src/meltano/core/plugin/settings_service.py
Due: none

Remove freeze_keys from api/controllers/plugins.py
  src/meltano/api/controllers/plugins.py
Due: none

Bump version: 1.19.2 → 1.20.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

fix (assumingly minor rebase miss) v-for to properly use the added computedSettings of this MR, also updated markup label to call out temp aspect of this solution
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

minimalism refactor for conditionally filtering settings in UI for tap-gitlab
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

update transform payload for savePipelineSchedule to conditionally set 'run' vs. 'skip'
  src/webapp/src/components/pipelines/ExtractorSettingsModal.vue
  src/webapp/src/store/modules/orchestration.js
Due: none

udpated changelog
  CHANGELOG.md
Due: none

exploring formatting without bullets
  docs/src/terms.md
Due: docs

update bullet formatting
  docs/src/terms.md
Due: docs

update CHANGELOG
  CHANGELOG.md
Due: none

add links to related GitLab docs
  docs/src/terms.md
Due: docs

fix the control header in the Design page from not wrapping
  src/webapp/src/components/analyze/Design.vue
  src/webapp/src/scss/utils.scss
Due: none

cleanup the setup.py/requirements.txt file
  requirements.txt
  setup.py
Due: meltano_base
