Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - export IMAGE_TAG=$BASE_SHA

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

Don't explicitly set target-postgres and target-snowflake schema setting
  src/meltano/core/runner/singer.py
Due: none

Remove unused tap_config_dir and target_config_dir options from SingerRunner
  src/meltano/cli/elt.py
  src/meltano/core/runner/singer.py
  tests/meltano/core/runner/test_runner.py
Due: none

Set `dbt` models based on `DBT_MODELS` env var, defaulting to `$MELTANO_EXTRACTOR_NAMESPACE my_meltano_project`
  CHANGELOG.md
  src/meltano/cli/elt.py
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/runner/dbt.py
Due: docs

Set `dbt` source schema based on `DBT_SOURCE_SCHEMA` env var, defaulting to `$MELTANO_LOAD_SCHEMA`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Set `dbt` target based on `DBT_TARGET` env var, defaulting to `$MELTANO_LOADER_NAMESPACE`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/project_add_custom_service.py
Due: docs

Determine transform dbt model name based on namespace
  CHANGELOG.md
  src/meltano/core/transform_add_service.py
Due: none

Document pipeline specific environment variables
  docs/src/README.md
  docs/src/docs/command-line-interface.md
Due: docs

Invoke dbt using ELTContext.transformer_invoker to ensure env vars are set as appropriate
  src/meltano/core/dbt_service.py
  src/meltano/core/runner/dbt.py
  tests/meltano/cli/test_elt.py
Due: none

Determine Meltano Analyze schema based on transformer's `target_schema` or loader's `schema`
  CHANGELOG.md
  src/meltano/core/connection_service.py
  src/meltano/core/plugin/singer/target.py
  tests/meltano/core/test_connection_service.py
Due: none

Add tests for ELTContext
  tests/meltano/core/test_elt_context.py
Due: none

Set `dbt` source target based on `DBT_TARGET_SCHEMA` env var, defaulting to `analytics`
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
  src/meltano/core/bundle/transform/profile/profiles.yml
Due: docs

Rearrange changelog items
  CHANGELOG.md
Due: none

Bump dbt version to 0.16.1
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Document that per-schedule configuration can be set on the schedule's object in meltano.yml
  docs/src/README.md
Due: docs

Always use the latest discovery file in homepage_sample_code job
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Fix relative path to source directory
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Bump airflow version to 1.10.10
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Use versions of jsonschema and SQLAlchemy that are compatible with airflow
  requirements.txt
  setup.py
Due: meltano_base

bumped psycopg2 version
  requirements.txt
  setup.py
Due: meltano_base

Properly handle errors in before/after install hooks
  CHANGELOG.md
  src/meltano/cli/add.py
  src/meltano/cli/initialize.py
  src/meltano/core/error.py
  src/meltano/core/plugin_install_service.py
Due: none

Support `--database-uri` option and `MELTANO_DATABASE_URI` env var on `meltano init`
  CHANGELOG.md
  src/meltano/cli/initialize.py
  src/meltano/cli/params.py
  src/meltano/core/bundle/dags/meltano.py
  src/meltano/core/project_init_service.py
  tests/fixtures/core.py
  tests/meltano/cli/test_cli.py
Due: none

Link to system database docs from homepage
  docs/src/README.md
Due: docs

Add support for PostgreSQL 12 as a system database by updating SQLAlchemy
  CHANGELOG.md
  requirements.txt
  setup.py
Due: meltano_base

Run faster discover command instead of install
  tests/meltano/cli/test_cli.py
Due: none

Skip commands that require $TAP_COVID_19_API_TOKEN to be set if it isn't
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Bump version: 1.33.0 → 1.34.0
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Add manual version of demo_project jobs for MRs from forks
  .gitlab/ci/demo_project.gitlab-ci.yml
Due: none

Fix changelog item link
  CHANGELOG.md
Due: none

Require `psycopg2-binary` instead of `psycopg2` so that build dependency `pg_config` doesn't need to be present on system
  CHANGELOG.md
  requirements.txt
  setup.py
  src/meltano/api/wsgi.py
  src/meltano/cli/cli.py
Due: meltano_base

Don't install postgresql-client before meltano
  .gitlab/ci/homepage_sample_code.gitlab-ci.yml
Due: none

Fix link to issue in changelog
  CHANGELOG.md
Due: none

Bump version: 1.34.0 → 1.34.1
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Fix bug that caused Airflow to look for DAGs in plugins dir instead of dags dir
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Fix potential dependency version conflicts by ensuring Meltano venv is not inherited by invoked plugins other than Airflow
  CHANGELOG.md
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin_invoker.py
Due: none

Update Airflow config and run `initdb` every time it is invoked
  CHANGELOG.md
  src/meltano/core/behavior/hookable.py
  src/meltano/core/plugin/airflow.py
  src/meltano/core/plugin/singer/base.py
  src/meltano/core/plugin_invoker.py
  tests/meltano/core/plugin/test_airflow.py
Due: none

Have Airflow DAG respect non-default system database URI
  CHANGELOG.md
  src/meltano/core/bundle/dags/meltano.py
  src/meltano/core/db.py
Due: none

Bump version: 1.34.1 → 1.34.2
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, requirements.txt
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
