Repository meltano/meltano: changes, and which GitLab CI jobs are due for each by the changed paths.
All: meltano_base, docs

meltano_base:
  stage: build-base
  variables:
    DOCKERFILE: docker/base/Dockerfile
    IMAGE_NAME: $CI_REGISTRY_IMAGE/base
  before_script:
  - source .gitlab/ci/scripts/docker_build_before_script.sh
  - export IMAGE_TAG=$BASE_SHA

docs:
  variables:
    REMOTE_EXEC: ssh -o StrictHostKeyChecking=no $SSH_USER_DOMAIN -p$SSH_PORT
  stage: docs
  image: node:10.16.2
  cache:
    paths:
    - docs/node_modules/
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  ...

add Cerberus back
  requirements.txt
  setup.py
Due: meltano_base

remove updateCurrentDashboard call as it resulting in a duplicate call where instead we want the route to be the SSOT that initiates data requests, added isLoadingActiveDashboard hook
  src/webapp/src/store/modules/dashboards.js
  src/webapp/src/views/Dashboard.vue
  src/webapp/src/views/Dashboards.vue
Due: none

updated Design.vue page to properly load dashboards if initialized from a slug (and thus an existing report)
  CHANGELOG.md
  src/webapp/src/components/analyze/Design.vue
Due: none

refactor 'current' to 'active' for consistency
  src/webapp/src/store/modules/dashboards.js
Due: none

sort dashboards list
  CHANGELOG.md
  src/webapp/src/store/modules/dashboards.js
  src/webapp/src/views/Dashboards.vue
Due: none

use lodash orderBy vs custom sort
  src/webapp/src/store/modules/dashboards.js
  src/webapp/src/store/modules/orchestration.js
Due: none

remove azure-storage-blob as it is included in azure-storage<=0.36.0
  requirements.txt
Due: meltano_base

minor refactor to flags resetting in finally clause
  src/webapp/src/store/modules/dashboards.js
Due: none

re-organize installation and getting started to divide self-hosted versus SaaS
  docs/src/.vuepress/config.js
  docs/src/docs/README.md
  docs/src/docs/getting-started.md
  docs/src/docs/installation.md
Due: docs

move roadmap content to what is meltano and create developer tools section
  docs/src/.vuepress/config.js
  docs/src/docs/README.md
  docs/src/docs/developer-tools.md
  docs/src/docs/installation.md
  docs/src/docs/roadmap.md
Due: docs

Hide `tap-fastly` in UI
  CHANGELOG.md
  src/meltano/core/bundle/discovery.yml
Due: docs

Cast values of boolean settings set in the environment to booleans
  CHANGELOG.md
  src/meltano/core/plugin/settings_service.py
  tests/fixtures/core.py
  tests/meltano/core/plugin/test_plugin_settings.py
Due: none

Disable fields of all kinds when a plugin setting is protected or set in env or meltano.yml
  CHANGELOG.md
  src/webapp/src/components/generic/InputDateIso8601.vue
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

Fix lock icon tooltip message on plugin settings that were set in env or meltano.yml
  CHANGELOG.md
  src/webapp/src/components/pipelines/ConnectorSettings.vue
Due: none

create developer tools section and re-organize installation guides
  docs/src/.vuepress/config.js
  docs/src/docs/developer-tools.md
Due: docs

move command line interface into developer tools
  docs/src/.vuepress/config.js
  docs/src/docs/developer-tools.md
Due: docs

move environment variables into developer tools
  docs/src/.vuepress/config.js
  docs/src/docs/developer-tools.md
Due: docs

remove duplicate docker command line examples
  docs/src/docs/developer-tools.md
Due: docs

Example Command Line Syntax for Docker
  docs/src/.vuepress/config.js
  docs/src/docs/developer-tools.md
Due: docs

move contributing into developer tools
  docs/src/.vuepress/config.js
  docs/src/docs/contributing.md
  docs/src/docs/developer-tools.md
Due: docs

move architecture into developer tools
  docs/src/.vuepress/config.js
  docs/src/docs/developer-tools.md
Due: docs

remove CLI project creation instructions from getting started, move to dev tools
  docs/src/docs/developer-tools.md
  docs/src/docs/getting-started.md
Due: docs

move all command line instructions out of the Getting Started guide for our target persona
  docs/src/docs/developer-tools.md
  docs/src/docs/getting-started.md
Due: docs

Fix header nav link "How It Works" to go to the beginning of the getting started guide (currently goes to the extractor configuration step)
  docs/src/.vuepress/config.js
Due: docs

update headers in the getting started guide to be more pithy
  docs/src/docs/getting-started.md
Due: docs

deprecate deployment.md which was duplicate to the content in the installation guide
  docs/src/docs/deployment.md
Due: docs

update "connect data sources" links and copy
  docs/src/docs/getting-started.md
Due: docs

Bump version: 1.20.0 → 1.20.1
  .bumpversion.cfg
  CHANGELOG.md
  VERSION
  docs/package.json
  package.json
  src/meltano/__init__.py
  src/webapp/package.json
Due: docs

fix broken links and copy on the getting started guide
  docs/src/docs/getting-started.md
Due: docs

add loader content and links so they are discoverable
  docs/src/docs/developer-tools.md
  docs/src/docs/installation.md
Due: docs

remove duplicate "create your first project" section in developer tools
  docs/src/docs/developer-tools.md
Due: docs

remove duplicate loader setup and start the UI sections
  docs/src/docs/developer-tools.md
Due: docs

fix a few more broken links
  docs/src/docs/developer-tools.md
Due: docs

changelog fix
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

conditionally diable 'View|Fix Connection' button if its corresponding pipeline isRunning
  src/webapp/src/components/pipelines/ExtractorList.vue
Due: none

ensure we set the jobId properly off initial run, update tooltip flag for 'Last Run' to abide by hasEverSucceeded
  src/webapp/src/components/pipelines/PipelineSchedules.vue
  src/webapp/src/store/modules/orchestration.js
Due: none

update getExtractorConfigurationNeedsFixing computed by accounting for isRunning flag (this way we don't prematurely say a pipeline needs fixing until we've confimed the run is complete and failed)
  src/webapp/src/components/pipelines/ExtractorList.vue
Due: none

Split up Developer Tools docs over separate pages and add to header
  CHANGELOG.md
  docs/src/.vuepress/config.js
  docs/src/.vuepress/theme/views/Home.vue
  docs/src/developer-tools/README.md
  docs/src/developer-tools/architecture.md
  docs/src/developer-tools/command-line-interface.md
  docs/src/developer-tools/contributor-guide.md
  docs/src/developer-tools/environment-variables.md
  docs/src/developer-tools/reporting-database-options.md
  docs/src/developer-tools/role-based-access-control.md
  docs/src/developer-tools/self-hosted-installation.md
  docs/src/docs/developer-tools.md
  docs/src/docs/getting-started.md
  docs/src/docs/installation.md
  docs/src/handbook/marketing/README.md
  docs/src/tutorials/csv-with-postgres.md
  docs/src/tutorials/gitlab-and-postgres.md
  docs/src/tutorials/manual-digitalocean-droplet.md
  docs/src/tutorials/using-jupyter-notebooks.md
  src/meltano/cli/cli.py
Due: docs

minor getter cleanup
  src/webapp/src/components/pipelines/ExtractorSettingsModal.vue
Due: none

Path conditions:
  meltano_base: any of: docker/base/Dockerfile, requirements.txt
  docs: any of: docs/**/*, src/meltano/core/bundle/discovery.yml
